---
import Estudios from "../components/Estudios.astro";
import Experiencia from "../components/Experiencia.astro";
import Sobremi from "../components/Sobremi.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="Portfolio Elias Bahamondes">
  <main class="flex flex-col items-center justify-center font-bold text-white">
    <h1
      class="text-3xl bg-gradient-to-r from-yellow-500 to-pink-500 text-transparent bg-clip-text font-extrabold"
      id="Sobremi"
    >
      Sobre mi
    </h1>

    <Sobremi />
    <h1
      class="text-3xl bg-gradient-to-r from-sky-500 to-red-500 text-transparent bg-clip-text font-extrabold mb-5"
      id="Estudios"
    >
      Estudios
    </h1>
    <Estudios />
    <h1
      class="text-3xl bg-gradient-to-r from-purple-500 to-pink-500 text-transparent bg-clip-text font-extrabold mt-6"
      id="Tecnologias"
    >
      Tecnologías
    </h1>
    <Tecnologias />
    <h1
      class="text-3xl bg-gradient-to-r from-green-500 to-red-500 text-transparent bg-clip-text font-extrabold mt-6"
      id="Experiencia"
    >
      Experiencia
    </h1>
    <Experiencia />
    <h1
      class="text-3xl bg-gradient-to-r from-orange-500 to-blue-500 text-transparent bg-clip-text font-extrabold mt-6"
      id="Proyectos"
    >
      Proyectos
    </h1>
    <Proyectos />
    <h1
      class="text-3xl bg-gradient-to-r from-sky-500 to-yellow-500 text-transparent bg-clip-text font-extrabold mt-6"
      id="Contacto"
    >
      Contacto
    </h1>
    <Contacto />
  </main>
</Layout>
