<div class="flex flex-col md:flex-row items-center">
  <div class="mt-4 md:mt-4">
    <div
      class="flex flex-col items-center font-light p-6 text-white bg-slate-700 rounded-2xl"
    >
      <img src="logo aiep.svg" alt="aiep" class="w-40 p-3 mb-4" />
      <p>
        Actualmente estoy cursando la carrera de Ingeniería en Informática
        Mención desarrolo de sistemas, en el Instituto Profesional AIEP. Me
        encuentro en mi tercer año de estudios. Dentro de mis estudios he
        aprendido a programar y analizar sistemas de información para dar
        soluciones a las problemáticas planteadas, además de trabajar en equipo
        y liderar proyectos.
      </p>
    </div>
  </div>
</div>
