<div class="flex flex-col md:flex-row items-center">
  <div class="mt-4 md:mt-4">
    <div
      class="flex flex-col items-center font-light p-6 text-white bg-slate-700 rounded-2xl"
    >
      <img src="logo aiep.svg" alt="aiep" class="w-40 p-3 mb-4" />
      <p>
        Actualmente estoy cursando la carrera de Ingeniería en Informática en la
        Instituto Profesional AIEP. Me encuentro en mi segundo año y al
        finalizarlo sacaré el título de <a
          href="https://intranet.aiep.cl/docs/perfiles-de-egreso-carreras-tecnicas/Perfil-Egreso-T-Tecnico-en-Programacion-y-Analisis-de-Sistemas.pdf"
          class="underline font-semibold"
          target="_blank">Programación y Análisis de Sistemas</a
        >. Dentro de mis estudios he aprendido a programar y analisar sistemas
        de información, además de trabajar en equipo y liderar proyectos.
      </p>
    </div>
  </div>
</div>
