---
const nombre = "El칤as Pablo Bahamondes Contreras";
const descripcion =
  " 游녦 춰Hola! Soy Elias Bahamondes, un apasionado por la tecnolog칤a y el desarrollo de software. Desde que comenc칠 en este mundo, me ha fascinado la idea de construir soluciones innovadoras que mejoren la vida de las personas y optimicen procesos. <br><br>Actualmente, estoy en mi tercer a침o de Ingenier칤a en Inform치tica, donde complemento mis estudios con experiencia pr치ctica en el desarrollo de proyectos, especialmente en entornos din치micos como startups. Me encanta trabajar en equipo, aprender de cada desaf칤o y buscar siempre la mejor soluci칩n posible. <br><br>M치s all치 del c칩digo, me interesa el impacto real de la tecnolog칤a y c칩mo esta puede escalar de manera eficiente. Siempre estoy explorando nuevas herramientas y metodolog칤as para mejorar mi flujo de trabajo y el de los equipos con los que colaboro.";

const imagenPerfil = "/fotoperfil.png";
---

<div class="p-4 rounded-lg shadow-md w-full mx-auto my-2">
  <div class="flex flex-col md:flex-row items-center">
    <img
      src={imagenPerfil}
      alt={nombre}
      class="w-40 h-50 rounded-full mx-auto md:mx-0 md:mr-6"
    />
    <div class="mt-4 md:mt-0">
      <p class="font-light text-white p-5 bg-slate-700 rounded-2xl">
        {descripcion}
      </p>
    </div>
  </div>
</div>
